{% extends 'base.html' %}
{% block header %}
  <h1>Game {{uuid}}</h1>
{% endblock %}

{% block content %}
<button id="back" type="button" onclick="window.location.replace(window.location.origin)">Back</button><br><br>
<h2>Choose your side:</h2>
  <input type="radio" name="player" id='X' onchange="registerPlayer(this.id);"> Player X
  <input type="radio" name="player" id='O' onchange="registerPlayer(this.id);"> Player O
  <input type="radio" name="player" id='visitor' onchange="registerPlayer(this.id);"> Watching<br><br>

<div id="board" hidden>
<input id="p00" name="board" type="button" value=" - " onclick="doMove(this.id);"  style="height:70px;width:70px;font-size:44pt;" >
<input id="p01" name="board" type="button" value=" - " onclick="doMove(this.id);"  style="height:70px;width:70px;font-size:44pt;" >
<input id="p02" name="board" type="button" value=" - " onclick="doMove(this.id);"  style="height:70px;width:70px;font-size:44pt;" ><br>
<input id="p10" name="board" type="button" value=" - " onclick="doMove(this.id);"  style="height:70px;width:70px;font-size:44pt;" >
<input id="p11" name="board" type="button" value=" - " onclick="doMove(this.id);"  style="height:70px;width:70px;font-size:44pt;" >
<input id="p12" name="board" type="button" value=" - " onclick="doMove(this.id);"  style="height:70px;width:70px;font-size:44pt;" ><br>
<input id="p20" name="board" type="button" value=" - " onclick="doMove(this.id);"  style="height:70px;width:70px;font-size:44pt;" >
<input id="p21" name="board" type="button" value=" - " onclick="doMove(this.id);"  style="height:70px;width:70px;font-size:44pt;" >
<input id="p22" name="board" type="button" value=" - " onclick="doMove(this.id);"  style="height:70px;width:70px;font-size:44pt;" ><br>
</div>
<script>isItRegistered();</script>
{% endblock %}
