{% extends 'base.html' %}
{% block header %}
  <h1>Game {{uuid}}</h1>
{% endblock %}

{% block content %}
<input id="p00" type="text" oninput="doMove(this.id);" autocomplete="new-password" style="height:50px;width:44px;font-size:44pt;" minlength="0" maxlength="1">
<input id="p01" type="text" oninput="doMove(this.id);" autocomplete="new-password" style="height:50px;width:44px;font-size:44pt;" minlength="0" maxlength="1">
<input id="p02" type="text" oninput="doMove(this.id);" autocomplete="new-password" style="height:50px;width:44px;font-size:44pt;" minlength="0" maxlength="1"><br>
<input id="p10" type="text" oninput="doMove(this.id);" autocomplete="new-password" style="height:50px;width:44px;font-size:44pt;" minlength="0" maxlength="1">
<input id="p11" type="text" oninput="doMove(this.id);" autocomplete="new-password" style="height:50px;width:44px;font-size:44pt;" minlength="0" maxlength="1">
<input id="p12" type="text" oninput="doMove(this.id);" autocomplete="new-password" style="height:50px;width:44px;font-size:44pt;" minlength="0" maxlength="1"><br>
<input id="p20" type="text" oninput="doMove(this.id);" autocomplete="new-password" style="height:50px;width:44px;font-size:44pt;" minlength="0" maxlength="1">
<input id="p21" type="text" oninput="doMove(this.id);" autocomplete="new-password" style="height:50px;width:44px;font-size:44pt;" minlength="0" maxlength="1">
<input id="p22" type="text" oninput="doMove(this.id);" autocomplete="new-password" style="height:50px;width:44px;font-size:44pt;" minlength="0" maxlength="1"><br>
<script>var main_interval =window.setInterval(fillBoard, 1000); </script>
{% endblock %}
